/*
    Document   : header.css
    Created on : Jul 17, 2011, 6:49:49 PM
    Author     : Rishabh Rao
    Description: This stylesheet contains the styling for the header.
*/

header {
	height: 50px;
	padding-top: 5px;
}

header .header-logo {
	float: left;	
}

header .welcome-panel {	
	float: right;
}