/*
    Document   : searchuno
    Created on : Jul 13, 2011, 6:49:49 PM
    Author     : Rishabh Rao
    Description: This stylesheet contains the styling for the result columns.
*/

.category-accordion {
	width: 790px;	
	
	/* DEBUG */

	/* /DEBUG */
}
