<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>RushHourMerchant</servlet-name>
		<servlet-class>bee.ris.rushhour.merchants.RushHourMerchantServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RushHourMerchant</servlet-name>
		<url-pattern>/rushhourmerchant</url-pattern>
	</servlet-mapping>

	<!-- The Refresh Servlet refreshes the cache.
	<servlet>
		<servlet-name>Refresh</servlet-name>
		<servlet-class>bee.ris.rushhour.data.RefreshServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Recache</servlet-name>
		<url-pattern>/cron/refresh</url-pattern>
	</servlet-mapping>
	<!-- /The Recache Servlet refreshes the cache. -->

	<!-- -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- SECURING URLS FOR CRON -->
	<!-- You can prevent users from accessing URLs used by scheduled tasks by 
		restricting access to administrator accounts. Scheduled tasks can access 
		admin-only URLs. Note: While cron jobs can use URL paths restricted with 
		<role-name>admin</role-name>, they cannot use URL paths restricted with <role-name>*</role-name>. -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/farmer</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- /SECURING URLS FOR CRON -->
</web-app>